@model WebAppParcial.Models.Libro

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Esta seguro de eliminar este libro?</h3>
<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area.AreaID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPaginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPaginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LibroID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index"><i class="fas fa-backward">Atrás</i></a>
    </form>
</div>
